<link rel="stylesheet" href="/style/style4.css">
<% layout('layouts/boiler')%>

<div class="testnav">
    <a href="/showAlumni">Alumni</a>
    <% if(!currentUser) {%> 
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% }else{ %> 
    <a href="/logout">Logout</a>
    <% } %>
</div> 
<% if(success && success.length) {%>
<div class="alert alert-success alert-dismissible fade show-3">
    <!-- <button type="button" class="close" > -->
        <p1><%= success %></p1>
        <span class="thistoclick">&times;</span>
    <!-- </button> -->
</div>
<% } %>

<% if(error && error.length) {%>
    <div class="alert alert-success alert-dismissible fade show-4">
        <button type="button" class="close" >
            <p1><%= error %></p1>
            <span class="thistoclick">&times;</span>
        </button>
    </div>
    <% } %>



    <% for (let jform of jForm){%>
    <div class="alumnishow">
        <ul>
        <li><%=jform.name%></li>
        <li><%=jform.pro_Degree%></li>
        <li><%=jform.pro_BranchofStudies%></li>
        <li><%=jform.pro_pro_WorkPlace%></li>
        <li><%=jform.pro_pro_PresentEmployer%></li>
        <li><a href="/showAlumni/<%=jform._id%>">ShowMore</a></li>
    </ul>
    </div>
    <% } %> 

    <script>
        let close = document.getElementsByClassName('thistoclick')[0];
    let removeel= document.getElementsByClassName('alert-dismissible')[0];
    close.addEventListener('click',()=>{
      removeel.remove();
    })
    </script>